name: "Rust Build and Test"

on:
  workflow_call:
    inputs:
      toolchain:
        required: false
        type: string
        description: "Rust toolchain to use (e.g., stable, nightly, beta)."
        default: "stable"
      components:
        required: false
        type: string
        description: "Comma-separated list of Rust components to install (e.g., rustfmt, clippy)."
        default: "clippy rustfmt"
      target:
        required: false
        type: string
        description: "Comma-separated list of additional Rust compilation targets."
        default: ""
      runs-on:
        required: false
        type: string
        description: "GitHub runner to use for this workflow."
        default: "ubuntu-latest"

env:
  NAME: "Rust Test"
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup | Rust | ${{ inputs.toolchain }}
        uses: mbround18/gh-reusable/actions/setup-rust@v0.0.6
        with:
          toolchain: ${{ inputs.toolchain }}
          components: ${{ inputs.components }}
          target: ${{ inputs.target }}

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

      - name: Lint
        run: cargo fmt -- --check

      - name: Clippy
        run: cargo clippy

      - name: Build Release
        run: cargo build --verbose --release

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: rust-release
          path: ./target/release
          retention-days: 5
