name: "Test | Setup Rust"

on:
  # Trigger when a pull request is opened or synchronized
  pull_request:
    branches:
      - main
    paths:
      - "actions/setup-rust/**"
      - ".github/workflows/test-setup-rust.yaml"

  # Trigger when code is pushed to the 'main' branch
  push:
    branches:
      - main
    paths:
      - "actions/setup-rust/**"
      - ".github/workflows/test-setup-rust.yaml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ensure_repository:
    name: Ensure Repository
    runs-on: ubuntu-latest
    steps:
      - name: Verify Repo is mbround18/gh-reusable
        uses: mbround18/gh-reusable/actions/ensure-repository@v0.0.6
  test-base:
    name: "Setup Rust | Base"
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Rust
        uses: ./actions/setup-rust
        with:
          components: clippy

  test-wasm:
    name: "Setup Rust | WASM | Trunk"
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Rust
        uses: ./actions/setup-rust
        with:
          components: clippy
          target: wasm32-unknown-unknown
          crates: trunk
