name: "Test | Semver Action"

on:
  pull_request:
    branches: [main]
    paths:
      - "actions/semver/**"
      - ".github/workflows/test-semver.yaml"
  push:
    tags: ["*"]
    branches: [main]
    paths:
      - "actions/semver/**"
      - ".github/workflows/test-semver.yaml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ensure_repository:
    name: Ensure Repository
    runs-on: ubuntu-latest
    steps:
      - name: Verify Repo is mbround18/gh-reusable
        uses: mbround18/gh-reusable/actions/ensure-repository@v0.0.6

  run_npm_tests:
    name: Run npm tests for Semver
    runs-on: ubuntu-latest
    needs: ensure_repository
    defaults:
      run:
        working-directory: actions/semver
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "npm"
          cache-dependency-path: actions/semver/package-lock.json

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
